/* *
* Text elements of projects
*
* @author Rafael Antonio Lucio <rafaelantoniolucio@gmail.com>
* */

/* _____ TEXT _____ */




// Title of Home
// ==========================================================================
.thvk-title {
	margin: 0;
	font-size: 1.4em;
	.thvk-title__hightlight {
		font-size: 1.5em;
		color: $violet;
	}
}