//
// About
// -----------------------------------
.about {
	@include clearfix();
	width: 100%;
	font-size: 1.7em;
}
.about-header {
	top: 0;
	left: 50%;
	position: absolute;
	margin-top: -60px;
	margin-left: -225px;
}
.about-header-title {
	font-family: $font-family-josefin_slabitalic;
	font-style: italic;
	font-size: 0.75em;
	letter-spacing: 2px;
	color: #555;
}
.about-article {
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -415px;
	position: absolute;
}
.about-article-content {
	@include clearfix();
	width: 830px;
	display: block;
	margin: 0 auto;
	position: relative;
}
.about-article-item {
	float: left;
	width: 415px;
	height: 400px;
	padding-top: 35px;
	&:first-child {
		padding-top: 100px;
		border-right: 1px solid #ccc;
	}
}
.item-content {
	width: 80%;
	margin: 0 auto;
	p {
		color: $gray;
		font-size: 1.5em;
		strong {
			color: rgb(43, 3, 49);
			font-size: 1.4em;
			font-family: $font-family-amatic;
		}
	}
}
.about-article-item-line {
	width: 10px;
	margin: 20px 0;
	border: 1px solid #ccc;
}
.about-article-item-email {
	position: relative;
	&:before {
		content: '';
		top: -5px;
		left: -15px;
		width: 19px;
		height: 18px;
		position: absolute;
		background: transparent image-url('mosca-right.png') 0 0 no-repeat;
	}
	&:hover{
		color: #771487;
	}
}
.about-article-item-link {
	color: #771487;
	font-size: 0.9em;
	text-decoration: none;
}
.about-article-item-title {
}
.about-article-item-group {
	margin: 20px 0;
	p:last-child {
		font-size: 1.2em;
	}
}

.about .li-connect-widget .li-connect-mark{
	background-position: 0px -20px !important;
	height: 26px !important;
	width: 26px !important;
}