// 
// Breackpoints
// -----------------------------------

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 480px){
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 600px) and (max-width : 799px){
	/* Styles */
	.mosca{
		&.m1{
			margin-left: -230px;
		}
		&.m2{
			margin-left: -255px;
		}
		&.m3{
			margin-left: -140px;
		}
		&.m4{
			margin-left: 120px;
		}
		&.m5{
			margin-left: 200px;
		}
		&.m6{
			margin-left: 160px;
		}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 800px) and (max-width : 1023px) {
	/* Styles */
	.mosca{
		&.m1{
			margin-left: -230px;
		}
		&.m2{
			margin-left: -255px;
		}
		&.m3{
			margin-left: -140px;
		}
		&.m4{
			margin-left: 120px;
		}
		&.m5{
			margin-left: 200px;
		}
		&.m6{
			margin-left: 160px;
		}
	}
	.luz{}
	.vakka{
		width: 380px;
		margin-top: -70px;
		margin-left: -200px;
	}
	.grama{
		width: 700px;
		margin-top: 95px;
		margin-left: -350px;
	}
	.placa{
		width: 189px;
		margin-top: -5px;
		margin-left: 210px;
	}
	.home-text{
		margin-top: 210px;
	}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
	/* Styles */
	.mosca{
		&.m1{
			margin-left: -320px;
		}
		&.m2{
			margin-left: -320px;
		}
		&.m3{
			margin-left: -210px;
		}
		&.m4{
			margin-left: 150px;
		}
		&.m5{
			margin-left: 230px;
		}
		&.m6{
			margin-left: 200px;
		}
	}
	.luz{}
	.vakka{
		width: 525px;
		margin-top: -150px;
		margin-left: -303px;
	}
	.grama{
		width: 955px;
		margin-left: -475px;
	}
	.placa{
		width: 236px;
		margin-left: 243px;
	}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	/* Styles */
	.mosca{
		&.m1{
			margin-left: -260px;
		}
		&.m2{
			margin-left: -285px;
		}
		&.m3{
			margin-left: -170px;
		}
		&.m4{
			margin-left: 200px;
		}
		&.m5{
			margin-left: 275px;
		}
		&.m6{
			margin-left: 240px;
		}
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
	/* Styles */
	.mosca{
		&.m1{
			margin-left: -260px;
		}
		&.m2{
			margin-left: -285px;
		}
		&.m3{
			margin-left: -170px;
		}
		&.m4{
			margin-left: 200px;
		}
		&.m5{
			margin-left: 275px;
		}
		&.m6{
			margin-left: 240px;
		}
	}
}