// 
// Breackpoints
// -----------------------------------

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px){
	/* Styles */
	.home{
		width: 100%;
	}
	.vakka.active, .grama.active, .placa.active, .home-text.active{
		@include transform(rotate(0));
		-webkit-filter: blur(0px) !important;
		-moz-filter: blur(0px) !important;
	}
	.mosca{
		&.m4{
			margin-top: 0px;
			margin-left: 23px;
		}
		&.m5{
			margin-left: 80px;
			margin-top: 75px;
		}
		&.m6{
			margin-top: -20px;
			margin-left: 90px;
		}
	}
	.luz{
		display: none !important;
	}
	.vakka{
		left: 0;
		width: 100%;
		overflow: hidden;
		margin-left: -160px !important;
		.content-step-img{
			width: 525px;
			max-width: 525px;
			min-width: 525px;
			margin-top: 35px;
			margin-left: -285px;
		}
		&.active {
			-webkit-transform: rotate(0deg) !important;
			-moz-transform: rotate(0deg) !important;
		}
	}
	.grama{
		left: -40px !important;
		width: 320px !important;
		margin-left: 0 !important;
		overflow: hidden;
		.content-step-img{
			width: 955px;
			max-width: 955px;
			min-width: 955px;
			margin-top: 32px;
			margin-left: -200px;
		}
		&.active {
			-webkit-transform: rotate(0deg) !important;
			-moz-transform: rotate(0deg) !important;
		}
	}
	.placa{
		display: none !important;
	}
	.home-text{
		display: none !important;
	}
	.arrow-bottom{
		display: none !important;
	}
	.figure-content{
		&.logo{
			@include transform(scale(.7));
			&.active{
			}
		}
	}

	/* ABOUT */
	#about{
		height: 185%;
	}
	.about-article{
		margin: 90px auto !important;
	}
	.about-header{
		top: 120px !important;
		margin-top: 0px !important;
		margin-left: -125px !important;
		width: 80% !important;
	}
	.about-header-title{
		font-size: 16px !important;
	}
	.about-article-content{
		width: 100% !important;
	}
	.about-article-item{
		width: 100% !important;
		float: none !important;
		height: 370px;
		padding-top: 35px;
		&:first-child{
			// width: 100% !important;
			border-right: 0px !important;
			p{
				line-height: 40px;
			}
		}
	}
	.item-content p{
		font-size: 29px !important;
		strong{
			font-size: 35px !important;
		} 
	}
}
// /* Smartphones (portrait) ----------- */
// @media only screen and (min-width : 321px) and (max-width : 480px){
// 	/* Styles */
// 	.home{
// 		width: 100%;
// 	}
// 	.mosca{
// 		display: none !important;
// 	}
// 	.luz{}
// 	.vakka{
// 		left: 0;
// 		margin-left: 0;
// 		width: 100%;
// 		overflow: hidden;
// 		.content-step-img{
// 			width: 525px;
// 			max-width: 525px;
// 			min-width: 525px;
// 		}
// 	}
// 	.grama{
// 		left: 0;
// 		margin-left: 0;
// 		width: 100%;
// 		overflow: hidden;
// 		.content-step-img{
// 			width: 955px;
// 			max-width: 955px;
// 			min-width: 955px;
// 		}
// 	}
// 	.placa{
// 		display: none !important;
// 	}
// 	.home-text{}
// 	.arrow-bottom{}
// 	.figure-content{
// 		&.logo{
// 			&.active{
// 			}
// 		}
// 	}
// }
// /* Smartphones (portrait) ----------- */
// @media only screen and (min-width : 481px) and (max-width : 600px){
// 	/* Styles */
// 	.home{}
// 	.mosca{
// 		display: none !important;
// 	}
// 	.luz{}
// 	.vakka{
// 		left: 0;
// 		margin-left: 0;
// 		width: 100%;
// 		overflow: hidden;
// 		.content-step-img{
// 			width: 525px;
// 			max-width: 525px;
// 			min-width: 525px;
// 		}
// 	}
// 	.grama{
// 		left: 0;
// 		margin-left: 0;
// 		width: 100%;
// 		overflow: hidden;
// 		.content-step-img{
// 			width: 955px;
// 			max-width: 955px;
// 			min-width: 955px;
// 		}
// 	}
// 	.placa{
// 		display: none !important;
// 	}
// 	.home-text{}
// 	.arrow-bottom{}
// 	.figure-content{
// 		&.logo{
// 			&.active{
// 			}
// 		}
// 	}
// }
// /* Smartphones (portrait) ----------- */
// @media only screen and (min-width : 600px) and (max-width : 799px){
// 	/* Styles */
// 	.home{
// 		@include transform(scale(.6));
// 	}
// 	.mosca{
// 		&.m1{}
// 		&.m2{}
// 		&.m3{}
// 		&.m4{}
// 		&.m5{}
// 		&.m6{}
// 	}
// 	.luz{}
// 	.vakka{}
// 	.grama{
// 		margin-top: 185px;
// 	}
// 	.placa{}
// 	.home-text{}
// 	.arrow-bottom{}
// 	.figure-content{
// 		&.logo{
// 			@include transform(scale(.7));
// 			&.active{
// 			}
// 		}
// 	}
// }
// /* Desktops and laptops ----------- */
// @media only screen and (min-width : 800px) and (max-width : 1023px) {
// 	/* Styles */
// 	.home{
// 		@include transform(scale(.7));
// 	}
// 	.mosca{
// 		&.m1{}
// 		&.m2{}
// 		&.m3{}
// 		&.m4{}
// 		&.m5{}
// 		&.m6{}
// 	}
// 	.luz{}
// 	.vakka{}
// 	.grama{
// 		margin-top: 165px;
// 	}
// 	.placa{}
// 	.home-text{
// 		margin-top: 200px;
// 	}
// 	.arrow-bottom{}
// 	.figure-content{
// 		&.logo{
// 			&.active{
// 			}
// 		}
// 	}
// }
/* More 1024 */
@media only screen and (min-width: 1024px) {
	/* Styles */
	.mosca{
		width: 19px;
		height: 18px;
	}
	.luz-top{
		width: 579px;
		height: 16px;
	}
	.luz{
		width: 1161px;
		height: 738px;
	}
	.vakka{
		width: 525px;
		height: 325px;
	}
	.grama{
		width: 955px;
		height: 158px;
	}
	.placa{
		width: 236px;
		height: 171px;
		&.sombra{
			width: 204px;
			height: 60px;
		}
	}
	.home-text{
		width: 500px;
		height: 40px;
		.text{
			font-size: $font-size-h1;
		}
	}
}

@media only screen and (max-height: 700px) {
	.luz{
		margin-top: -220px;
	}
}