// 
// Breackpoints
// -----------------------------------

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px){
	/* Styles */
	.home{
		width: 100%;
	}
	.vakka.active, .grama.active, .placa.active, .home-text.active{
		@include transform(rotate(0));
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
	}
	.mosca{
		&.m4{
			margin-top: 0px;
			margin-left: 23px;
		}
		&.m5{
			margin-left: 80px;
			margin-top: 75px;
		}
		&.m6{
			margin-top: -20px;
			margin-left: 90px;
		}
	}
	.luz{
		display: none !important;
	}
	.vakka{
		left: 0;
		width: 100%;
		margin-left: 0;
		overflow: hidden;
		.content-step-img{
			width: 525px;
			max-width: 525px;
			min-width: 525px;
			margin-top: 35px;
			margin-left: -285px;
		}
	}
	.grama{
		left: 0;
		width: 100%;
		margin-left: 0;
		overflow: hidden;
		.content-step-img{
			width: 955px;
			max-width: 955px;
			min-width: 955px;
			margin-top: 32px;
			margin-left: -200px;
		}
	}
	.placa{
		display: none !important;
	}
	.home-text{
		display: none !important;
		margin-top: 213px;
		margin-left: -156px;
	}
	.arrow-bottom{
		display: none !important;
		top: 95%;
	}
	.figure-content{
		&.logo{
			@include transform(scale(.7));
			&.active{
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 321px) and (max-width : 480px){
	/* Styles */
	.home{
		width: 100%;
	}
	.mosca{
		display: none !important;
	}
	.luz{}
	.vakka{
		left: 0;
		margin-left: 0;
		width: 100%;
		overflow: hidden;
		.content-step-img{
			width: 525px;
			max-width: 525px;
			min-width: 525px;
		}
	}
	.grama{
		left: 0;
		margin-left: 0;
		width: 100%;
		overflow: hidden;
		.content-step-img{
			width: 955px;
			max-width: 955px;
			min-width: 955px;
		}
	}
	.placa{
		display: none !important;
	}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 481px) and (max-width : 600px){
	/* Styles */
	.home{}
	.mosca{
		display: none !important;
	}
	.luz{}
	.vakka{
		left: 0;
		margin-left: 0;
		width: 100%;
		overflow: hidden;
		.content-step-img{
			width: 525px;
			max-width: 525px;
			min-width: 525px;
		}
	}
	.grama{
		left: 0;
		margin-left: 0;
		width: 100%;
		overflow: hidden;
		.content-step-img{
			width: 955px;
			max-width: 955px;
			min-width: 955px;
		}
	}
	.placa{
		display: none !important;
	}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 600px) and (max-width : 799px){
	/* Styles */
	.home{
		@include transform(scale(.6));
	}
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{
		margin-top: 185px;
	}
	.placa{}
	.home-text{}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			@include transform(scale(.7));
			&.active{
			}
		}
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 800px) and (max-width : 1023px) {
	/* Styles */
	.home{
		@include transform(scale(.7));
	}
	.mosca{
		&.m1{}
		&.m2{}
		&.m3{}
		&.m4{}
		&.m5{}
		&.m6{}
	}
	.luz{}
	.vakka{}
	.grama{
		margin-top: 165px;
	}
	.placa{}
	.home-text{
		margin-top: 200px;
	}
	.arrow-bottom{}
	.figure-content{
		&.logo{
			&.active{
			}
		}
	}
}