//
// Home
// -----------------------------------
.logo {
	top: 50%;
	z-index: 2;
	height: auto;
	margin-top: -340px;
	&.active {
		top: 10px;
		margin-top: -115px;
		@include transform(scale(.3));
	}
	.content-step-img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
}
.home {
	z-index: 3;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.luz-top{
	top: 0px;
	left: 50%;
	width: 579px;
	opacity: 0;
	height: 16px;
	position: fixed;
	z-index: 3;
	margin-left: -289.5px;
	background: transparent image-url('luz_teto.png') 0 0 no-repeat;
	&.active{
		opacity: 1;
	}
}
.luz{
	top: -10px;
	left: 50%;
	opacity: 0;
	width: 884px;
	height: 494px;
	margin-left: -442px;
	position: absolute;
	z-index: 2;
	&.active{
		opacity: 1;
	}
}
.content-moscas{
	top: 50%;
	left: 50%;
	z-index: 3;
	width: 600px;
	height: 325px;
	margin-top: -70px;
	margin-left: -300px;
	position: absolute;
	.mosca{
		width: 20px;
		height: 20px;
		position: absolute;
		background: transparent image-url('mosca-right.png') 0 0 no-repeat;
		&.m1{
			top: 186px !important;
			left: 20px !important;
		}
		&.m2{
			top: 0 !important;
			left: 80px !important;
		}
		&.m3{
			top: 25px !important;
			left: 145px !important;
		}
		&.m4{
			top: 107px !important;
			left: 490px !important;
		}
		&.m5{
			top: 107px !important;
			left: 563px !important;
		}
		&.m6{
			top: 150px !important;
			left: 530px !important;
			@include transform(rotate(45deg));
		}
	}
}
.fig-home{
	top: 50%;
	left: 50%;
	position: absolute;
	&.vakka{
		margin-top: -50px;
		margin-left: -265px;
		&.active {
			@include transform(rotate(-8deg));
		}
	}
	&.placa{
		margin-left: 270px;
		margin-top: 50px;
		z-index: 3;
		&.active {
			margin-top: 0px;
			margin-left: 330px;
			@include transform(rotate(25deg));
		}
	}
	&.placa-sombra{
		margin-left: 270px;
		margin-top: 200px;
		opacity: 1;
		&.active {
			opacity: 0;
			@include transform(rotate(0deg));
		}
	}
	&.grama{
		margin-top: 182.5px;
		margin-left: -491px;
		z-index: 3;
		&.active {
			@include transform(rotate(2deg));
		}
	}
	&.home-text{
		margin-top: 340px;
		margin-left: -240px;
		.text {
			color: $gray;
			text-align: center;
			font-size: $font-size-h2 - 2;
			strong {
				color: rgb(43, 3, 49);
				font-size: $font-size-h1 + 5;
				font-family: $font-family-amatic;
			}
		}
		&.active {
			@include transform(rotate(-5deg));
		}
	}
	&.arrow-bottom{
		top: 93%;
		left: 50%;
		width: 30px;
		height: 30px;
		display: block;
		cursor: pointer;
		margin-left: -15px;
		background: transparent;
		border: 1px solid transparent;
		border-top-color: #666;
		border-right-color: #666;
		@include transform(rotate(135deg));
		&.active {
			@include transform(rotate(120deg));
		}			
	}
}
.content-moscas.active {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
}
.home-text.active, .grama.active, .arrow-bottom.active {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
}