//
// Home
// -----------------------------------

.home {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}
.navigation {
	top: 30px;
	z-index: 10;
	right: -10px;
	width: 100px;
	height: 40px;
	position: fixed;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 25px;
	&:before {
		content: '';
		left: 10px;
		top: -5px;
		width: 19px;
		height: 18px;
		position: absolute;
		background: transparent image-url('mosca-right.png') 0 0 no-repeat;
	}
}
.navigation-link-home, .navigation-link-about {
	color: #2b0331;
	display: block;
	text-decoration: none;
	font-size: $font-size-h1;
	font-family: $font-family-amatic;
}
.navigation-link-home {
	margin-top: -44px;
	&.active {
		margin-top: -4px;
	}
}
.navigation-link-about {
}
.content-moscas {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.mosca {
	top: 50%;
	left: 50%;
	width: 19px;
	height: 18px;
	position: absolute;
	background: transparent image-url('mosca-right.png') 0 0 no-repeat;
	&.m1 {
		margin-left: -320px;
	}
	&.m2 {
		margin-top: -150px;
		margin-left: -320px;
	}
	&.m3 {
		margin-top: -130px;
		margin-left: -210px;
	}
	&.m4 {
		margin-top: -40px;
		margin-left: 140px;
	}
	&.m5 {
		margin-left: 200px;
		@include transform(rotate(45deg));
	}
	&.m6 {
		margin-top: -60px;
		margin-left: 230px;
	}
}
.fig-home {
	top: 50%;
	left: 50%;
	position: absolute;
}
.luz {
	top: -100px;
	height: 0;
	opacity: 0;
	margin-left: -482px;
	&.active {
		height: auto;
		opacity: 0.8;
	}
}
.luz-top{
	top: 0px;
	left: 50%;
	opacity: 0;
	height: 16px;
	width: 579px;
	position: fixed;
	margin-left: -290px;
	background: transparent image-url('luz_teto.png') 0 0 no-repeat;
	&.active{
		opacity: 1;
	}
}
.vakka {
	width: 525px;
	margin-top: -150px;
	margin-left: -303px;
	&.active {
		@include transform(rotate(-8deg));
	}
}
.error-404 {
	.vakka {
		margin-left: -390px;
	}
}
.grama {
	width: 955px;
	margin-top: 85px;
	margin-left: -475px;
	&.active {
		@include transform(rotate(3deg));
	}
}
.placa {
	width: 236px;
	margin-top: -40px;
	margin-left: 243px;
	&.active {
		@include transform(rotate(30deg));
	}
}
.home-text {
	margin-top: 230px;
	margin-left: -222px;
	.text {
		color: $gray;
		text-align: center;
		font-size: $font-size-h2;
		strong {
			color: rgb(43, 3, 49);
			font-size: $font-size-h1;
			font-family: $font-family-amatic;
		}
	}
	&.active {
		@include transform(rotate(-5deg));
	}
}
.arrow-bottom {
	top: 90%;
	left: 50%;
	width: 30px;
	height: 30px;
	display: block;
	cursor: pointer;
	margin-left: -15px;
	background: transparent;
	border: 1px solid transparent;
	border-top-color: #666;
	border-right-color: #666;
	@include transform(rotate(135deg));
	&.active {
		@include transform(rotate(120deg));
	}
}
.vakka.active, .placa.active, .content-moscas.active {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
}
.home-text.active, .grama.active, .arrow-bottom.active {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
}
.figure-content {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	&.bg {
		top: 150px;
	}
	&.logo {
		top: 30%;
		z-index: 1;
		margin-top: -170px;
		&.active {
			top: 55px;
			@include transform(scale(.3));
		}
	}
}
.jobs {
	top: 0;
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.content.pepsi {
	.content-step:first-child {
		margin-top: 100px;
	}
}
.content-step {
	display: block;
	max-width: 100%;
	margin: 50px auto;
}
.content-step-img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}