//
// Navigation
// -----------------------------------
.navigation {
	top: 30px;
	z-index: 10;
	right: -10px;
	width: 100px;
	height: 40px;
	position: fixed;
	overflow: hidden;
	padding-top: 10px;
	padding-left: 25px;
	&:before {
		content: '';
		left: 10px;
		top: -5px;
		width: 19px;
		height: 18px;
		position: absolute;
		background: transparent image-url('mosca-right.png') 0 0 no-repeat;
	}
}
.navigation-link-home, .navigation-link-about {
	color: #2b0331;
	display: block;
	text-decoration: none;
	font-size: $font-size-h1;
	font-family: $font-family-amatic;
	&:hover{
		color: #771487;
	}
}
.navigation-link-home {
	margin-top: -44px;
	&.active {
		margin-top: -4px;
	}
}