::-moz-selection {
	background: rgb(43, 3, 49);
	text-shadow: none;
}
::selection {
	background: rgb(43, 3, 49);
	text-shadow: none;
}
::-webkit-scrollbar {
	width: $scroll-width;
	height: $scroll-height;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
	display: none;
}
::-webkit-scrollbar-track-piece {
	background-color: $scrollbar-track-piece;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:vertical {
	background-color: $scrollbar-thumb-vertical;
}
::-webkit-scrollbar-thumb:horizontal {
	background-color: $scrollbar-thumb-horizontal;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html body .nicescroll-rails {
	width: $scroll-width !important;
	z-index: 99 !important;
	background: rgba(255, 255, 255, .3) !important;
	> div {
		background: rgb(43, 3, 49) !important;
		width: $scroll-width !important;
		border-radius: 0 !important;
		border: 0 !important;
	}
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $black;
	background-color: $body-bg;
}
.bg {
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	position: fixed;
	.content-step-img {
		@include transform(translateY(50%));
	}
}
//
// Logo
// -----------------------------------
.logo {
	top: 50%;
	left: 50%;
	z-index: 6;
	width: $widthLogo;
	height: $heightLogo;
	display: block;
	position: fixed;
	margin-top: -240px;
	@include transform(scale(.9) translateX(-55%) translateY(-50%));
	&.active {
		top: 50%;
		width: $widthLogo / 2.5;
		height: $heightLogo / 2.5;
		z-index: 10;
		margin-top: -390px;
		&.inside-about {
			margin-top: -320px;
		}
	}
}
.sections-page {
	width: 100%;
	height: 100%;
	z-index: 5;
	position: relative;
}
.sections-page-layers {
	width: 100%;
	height: auto;
	position: relative;
	margin: 25px 0;
}
.layers-wrap {
	width: 90%;
	margin: 0 auto;
}
.overlay {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	background-color: rgba(180, 180, 180, .6);
}
.content {
	&.pepsi {
		.content-step {
			margin-top: 0;
		}
	}
	&.mercedes {
		.content-step {
			margin-bottom: 0;
		}
	}
}
.content-step {
	margin: 100px 0;
}
.content-step-img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.load-content {
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	.progress-content {
		top: 50%;
		left: 50%;
		width: $widthLogo / 1.5;
		height: 7px;
		position: absolute;
		border-radius: 7px;
		box-shadow: 0px 0px 3px rgb(63, 23, 69);
		@include transform(translateX(-50%) translateY(80px));
		&:before {
			content: '';
			top: -40px;
			right: 50px;
			width: 20px;
			height: 20px;
			position: absolute;
			background: transparent image-url('mosca-right.png') 0 0 no-repeat;
		}
		> span {
			height: 100%;
			display: block;
			max-width: 100%;
			border-radius: 7px;
			background: rgb(83, 43, 89);
		}
	}
	.progress-content-text {
		top: 65%;
		left: 50%;
		width: 77px;
		font-size: 2.5em;
		position: absolute;
		color: rgb(43, 3, 49);
		@include transform(translateX(-50%));
	}
	.progress{
		width: 0;
	}
}